.circle{
    display: flex;
    width: 2rem;
    height: auto;
    background-color: #262E38;
    padding: 1.4rem;
    border-radius: 50%;
    /* text-align: center; */
    justify-content: center;
    border-style: none;
    cursor: pointer;
    margin: auto;
}

.circleContainer{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem auto;
}

.circle:hover{
    background-color: #7C8798;
    color: white;
}

.click{
    background-color:#262E38;
}

.active {
    background-color: #7C8798;
    color: white;
}